{{#each settings as | setting |}}
    <li>
        {{#if setting.printer}}
             Printer Name: {{setting.printer.name}}<br>
        {{else}}
            Printer Name: N/A<br>
        {{/if}}
       Printer Name: {{setting.printer.name}}<br>
       Print Temperature: {{setting.printTemperature}}<br>
       Layer Temperature: {{setting.initialLayerTemperature}}<br>
       Build Temperature: {{setting.buildPlateTemperature}}<br>
       Retraction Distance: {{setting.retractionDistance}}<br>
       Retraction Speed: {{setting.retractionSpeed}}<br>
       Max Retraction Count: {{setting.maxRetractionCount}}<br>       
    </li>
{{/each}}
{{#if logged_in}}
    <script src="/js/logout.js"></script>
{{/if}}