<table class="table">
    <thead>
        <tr>
            <th scope="col">Manufacturer</th>
            <th scope="col">Color</th>
            <th scope="col">Material</th>
            <th scope="col">Diameter</th>
            <th scope="col">Printer Name</th>
            <th scope="col">Print Temperature</th>
            <th scope="col">Layer Temperature</th>
            <th scope="col">Build Plate Temperature</th>
            <th scope="col">Retraction Distance</th>
            <th scope="col">Retraction Speed</th>
            <th scope="col">Max Retraction Count</th>      

        </tr>
    </thead>
    <tbody>
{{#each settingArr as | setting |}}
        <tr>
            <td>{{setting.filamentManufacturer}}</td>
            <td>{{setting.filamentColor}}</td>
            <td>{{setting.materialType}}</td>
            <td>{{setting.filamentDiameter}}</td>
            <td>{{setting.printerName}}</td>
            <td>{{setting.printTemperature}}</td>
            <td>{{setting.initialLayerTemperature}}</td>
            <td>{{setting.buildPlateTemperature}}</td>
            <td>{{setting.retractionDistance}}</td>
            <td>{{setting.retractionSpeed}}</td>
            <td>{{setting.maxRetractionCount}}</td>
        </tr>
{{/each}}
    </tbody>
</table>
<div>
    <h2 class="mb-4">Add a New Filament</h2>
    <form action="/api/settings" method="POST">
        <label for="filamentId">Filament ID:&nbsp;</label>
        <input type="text" id="filamentId" required placeholder="Enter filament ID">
        
        <label for="printerId">Printer ID:&nbsp;</label>
        <input type="text" id="printerId" required placeholder="Enter printer ID">

        <label for="print-temperature">Print Temperature:&nbsp;</label>
        <input type="text" id="print-temperature" required placeholder="Enter print temperature">

        <label for="initial-layer-temperature">&nbsp;&nbsp;Initial Layer Temperature:&nbsp;</label>
        <input type="text" id="initial-layer-temperature" required placeholder="Enter initial layer temperature">

        <label for="build-plate-temperature">&nbsp;&nbsp;Build Plate Temperature:&nbsp;</label>
        <input type="text" id="build-plate-temperature" required placeholder="Enter build plate temperature">

        <label for="retraction-distance">&nbsp;&nbsp;Retraction Distance:&nbsp;</label>
        <input type="text" id="retraction-distance" required placeholder="Enter retraction distance">

        <label for="retraction-speed">&nbsp;&nbsp;Retraction Speed:&nbsp;</label>
        <input type="text" id="retraction-speed" required placeholder="Enter retraction speed">

        <label for="max-retraction-count">&nbsp;&nbsp;Max Retraction Count:&nbsp;</label>
        <input type="text" id="max-retraction-count" required placeholder="Enter max retraction count">

        <button type="submit" id="addSettings">Add Settings</button>
    </form>
</div>
